{% extends "base.html" %}

{% block body %}
<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
    <div class="owl-carousel header-carousel position-relative">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid headerimg" src="./img/header-1.png" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                style="background: rgba(0, 0, 0, .4);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h1 class="display-3 text-white animated slideInDown mb-4">Integrated Hardware,
                                Software, and Services for Tomorrow's Technology.</h1>
                            <!-- <p class="fs-5 fw-medium text-white mb-4 pb-2">Vero elitr justo clita lorem. Ipsum dolor
                                at sed stet sit diam no. Kasd rebum ipsum et diam justo clita et kasd rebum sea
                                elitr.</p> -->
                            <a href="/contact" class="btn btn-secondary py-md-3 px-md-5">Contact
                                Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid headerimg" src="./img/header-2.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                style="background: rgba(0, 0, 0, .4);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h5 class="text-white text-uppercase mb-3 animated slideInDown">Truchip Technology
                                Private Limited</h5>
                            <h1 class="display-3 text-white animated slideInDown mb-4">Designing the Future with
                                Embedded Expertise.</h1>
                            <!-- <p class="fs-5 fw-medium text-white mb-4 pb-2">Vero elitr justo clita lorem. Ipsum dolor
                                at sed stet sit diam no. Kasd rebum ipsum et diam justo clita et kasd rebum sea
                                elitr.</p> -->
                            <a href="/contact" class="btn btn-secondary py-md-3 px-md-5">Contact
                                Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->


<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6">
                <h6 class="text-secondary text-uppercase">About Us</h6>

                {{ section.content | safe }}

                <a href="about.html" class="btn btn-secondary py-md-3 px-md-5">Know More</a>
            </div>
            <div class="col-lg-6 pt-4" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute img-fluid w-100 h-100" src="./img/about1.jpg"
                        style="object-fit: cover; padding: 0 0 50px 100px; border-top-right-radius: 70px;" alt="">
                    <img class="position-absolute start-0 bottom-0 img-fluid bg-white pt-2 pe-2 w-50 h-50"
                        src="./img/about2.jpeg" style="object-fit: cover;border-radius: 70px;" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->

<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="text-center">
        <h6 class="text-secondary text-uppercase">Our Services</h6>
        <h1 class="mb-5">We Provide the Best Services</h1>
    </div>
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 service-item-top">
                <div class="overflow-hidden">
                    <img class="img-fluid w-100 servimg" src="./img/serv-1.jpg" alt="">
                </div>
                <div class=" align-items-center justify-content-between bg-light p-4">
                    <h3 class="text-truncate me-3 mb-0"><a href=""> System Hardware</a></h3>
                    <p class="servpara mt-3">We provide specialized System Hardware Services, offering custom hardware design,development, and integration for a wide range of applications. Our expertise spans from
                        embedded systems to industrial solutions, delivering reliable and high-performance hardware
                        tailored to meet your project’s unique needs. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 service-item-top">
                <div class="overflow-hidden">
                    <img class="img-fluid w-100 servimg" src="./img/serv-2.jpg" alt="">
                </div>
                <div class="align-items-center justify-content-between bg-light p-4">
                    <h3 class="text-truncate me-3 mb-0"><a href=""> System Software</a></h3>
                    <p class="servpara mt-3">System software is a type of computer program designed to manage, control, and support the operations of a computer system. Unlike application software, which performs specific tasks for users, system software functions as an intermediary between hardware and user applications, ensuring everything works harmoniously.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 service-item-top">
                <div class="overflow-hidden">
                    <img class="img-fluid w-100 servimg" src="./img/serv-3.jpg" alt="">
                </div>
                <div class="align-items-center justify-content-between bg-light p-4">
                    <h3 class="text-truncate me-3 mb-0"><a href=""> System Services</a></h3>
                    <p class="servpara mt-3">We provide specialized System Hardware Services, offering custom
                        hardware design,
                        development, and integration for a wide range of applications. Our expertise spans from
                        embedded systems to industrial solutions, delivering reliable and high-performance hardware
                        tailored to meet your project’s unique needs. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 service-item-top">
                <div class="overflow-hidden">
                    <img class="img-fluid w-100 servimg" src="./img/trainingimg.jpg" alt="">
                </div>
                <div class="align-items-center justify-content-between bg-light p-4">
                    <h3 class="text-truncate me-3 mb-0"><a href="">Training</a></h3>
                    <p class="servpara mt-3">Training services offer structured programs to build and enhance skills, knowledge, and competencies in various domains, such as technical expertise, leadership, communication, and personal development. Delivered through workshops, online courses, one-on-one coaching.</p>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->

<!-- Booking Start -->
<div class="container-fluid my-5 px-0">
    <div class="video">
        <button type="button" class="btn-play" data-bs-toggle="modal"
            data-src="" data-bs-target="#videoModal">
            <span></span>
        </button>

        <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content rounded-0">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Youtube Video</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- 16:9 aspect ratio -->
                        <div class="ratio ratio-16x9">
                            <iframe class="embed-responsive-item" src="" id="video" allowfullscreen
                                allowscriptaccess="always" allow="autoplay"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h1 class="text-white mb-4">24/7 Service</h1>
        <h4 style="color: white; text-align: center;">For all your system needs, reach out to us for expert assistance in System Hardware, System Software, and System Services. </h4>
        <!-- <h3 class="text-white mb-0">24 Hours 7 Days a Week</h3> -->
    </div>
    <div class="container position-relative" style="margin-top: -6rem;">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="bg-light text-center p-5">
                    <h1 class="mb-4">Contact us</h1>
                    <form>
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control border-0" placeholder="Your Name"
                                    style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="email" class="form-control border-0" placeholder="Your Email"
                                    style="height: 55px;">
                            </div>
                            <div class="col-12">
                                <textarea class="form-control border-0" placeholder="Message"></textarea>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Book Now</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Booking End -->

{% endblock body %}
