{% extends "base.html" %}

{% block body %}
    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 py-5">
        <div class="container">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Products</h1>
            <!-- <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb text-uppercase">
                    <li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Contact</li>
                </ol>
            </nav> -->
        </div>
    </div>
    <!-- Page Header End -->

  <!-- Product Start -->
  <div class="container-fluid py-5 px-4 px-lg-0">
    <div class="row g-0">
        <!-- <div class="col-lg-3 d-none d-lg-flex">
            <div class="d-flex align-items-center justify-content-center w-100 h-100"
                style="background-color: #57b14f;">
                <h1 class="display-3 text-white m-0" style="transform: rotate(-90deg);">15 Years Experience</h1>
            </div>
        </div> -->
        <div class="col-md-12 col-lg-9 container">
            <div class="ms-lg-5 ps-lg-5">
                <div class="text-center text-lg-start wow fadeInUp" data-wow-delay="0.1s">
                    <h6 class="text-secondary text-uppercase">Our Products</h6>
                    <h1 class="mb-5">Explore Our Best Products</h1>
                </div>
                <div class="owl-carousel service-carousel position-relative wow fadeInUp" data-wow-delay="0.1s">

                    
                    <div class="bg-light p-4">
                        <div class="d-flex align-items-center justify-content-center border border-5 border-white mb-4"
                            style="width: 75px; height: 75px;">
                            <img src="./img/System On Modulesicon.png" style="width: 50px; height: 50px;" alt="">
                        </div>
                        <h4 class="mb-3">System On Modules</h4>
                        <p>We offer System on Modules (SoMs), compact, ready-to-use
                            computing solutions designed to accelerate development and reduce time to market. Our
                            SoMs integrate essential components like processors, memory, and connectivity into a
                            single, efficient module, making them ideal for a wide range of applications, from IoT
                            devices to industrial automation.This modular approach allows developers to streamline product design while maintaining flexibility and scalability.</p>
                        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Quality
                            Products</p>
                        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Customer
                            Satisfaction</p>
                        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Support 24/7
                        </p>
                        <!-- <a href="training.html" class="btn bg-white text-primary w-100 mt-2">Traning<i
                                class="fa fa-arrow-right text-secondary ms-2"></i></a> -->
                    </div>


                    <div class="bg-light p-4">
                        <div class="d-flex align-items-center justify-content-center border border-5 border-white mb-4"
                            style="width: 75px; height: 75px;">
                            <img src="./img/Single Board Computersicon.png" style="width: 50px; height: 50px;" alt="">
                        </div>
                        <h4 class="mb-3">Single Board Computers</h4>
                        <p >We offer Single Board Computers (SBCs) designed for
                            high-performance computing in compact form factors. Our SBCs provide powerful processing
                            capabilities, integrated peripherals, and flexible connectivity options, making them
                            ideal for a variety of applications, from industrial automation to IoT and beyond. They are popular in education, hobbyist projects, embedded systems, and various industrial applications due to their low cost, simplicity, and versatility.</p>
                        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Quality
                            Products</p>
                        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Customer
                            Satisfaction</p>
                        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Support 24/7
                        </p>
                        <!-- <a href="training.html" class="btn bg-white text-primary w-100 mt-2">Training<i
                                class="fa fa-arrow-right text-secondary ms-2"></i></a> -->
                    </div>


                    <div class="bg-light p-4">
                        <div class="d-flex align-items-center justify-content-center border border-5 border-white mb-4"
                            style="width: 75px; height: 75px;">
                            <img src="./img/Development Kits.png" style="width: 50px; height: 50px;" alt="">
                        </div>
                        <h4 class="mb-3">Development Kits</h4>
                        <p>We offer a range of Development Kits designed to accelerate the
                            development and testing of embedded systems. Our kits include essential hardware and
                            software tools, enabling developers to prototype, evaluate, and optimize their designs
                            quickly and efficiently.These kits provide the essential components needed to create and optimize software or hardware for compatibility. These kits are crucial in fields like embedded systems and IoT.</p>
                        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Quality
                            Products</p>
                        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Customer
                            Satisfaction</p>
                        <p class="text-primary fw-medium"><i class="fa fa-check text-success me-2"></i>Support 24/7
                        </p>
                        <!-- <a href="training.html" class="btn bg-white text-primary w-100 mt-2">Training<i
                                class="fa fa-arrow-right text-secondary ms-2"></i></a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product End -->

{% endblock body %}
