{% extends "base.html" %}

{% block body %}
 <!-- Main Popup -->
 <div class="custom-main-popup" id="mainPopup">
    <div class="popup-content">
        <span class="close-button" onclick="closePopup('mainPopup')">×</span>
        <h3>Course Details</h3>
        <ul>
            <li><strong>Duration:</strong> 5 days / 40 hours (on-site) – 7 half days / 28 hours (on-line)</li>
            <li><strong>Agenda:</strong> <a href="./img/dummy.pdf"  download="Traing.pdf">on-site</a>, <a href="./img/dummy.pdf" download="Traing.pdf" >on-line</a></li>
            <li><strong>Training materials:</strong>
                <ul>
                    <li><a href="#">Slides</a></li>
                    <li>Practical labs for <a href="#">STM32MP1 Discovery</a>, for <a href="#">BeagleBone Black</a>, for <a href="#">BeaglePlay</a></li>
                    <li>Lab data for <a href="#">STM32MP1 Discovery</a>, for <a href="#">BeagleBone Black</a>, for <a href="#">BeaglePlay</a></li>
                </ul>
            </li>
            <li><strong>Written language:</strong> English</li>
            <li><strong>Available oral languages:</strong> English, French, or Italian</li>
        </ul>
    </div>
</div>
<!-- mainpopup ends -->

        <div class="training-container">
            <h1>Training</h1>
            <h2>Our courses</h2>
            <div class="course-list">
                <div class="course-item">
                    <img src="./img/product1.png" alt="Embedded Linux Icon">
                    <h2><a href="#" onclick="openMainPopup(event)">Embedded Linux system development</a></h2>
                </div>
                <div class="course-item">
                    <img src="./img/product2.png" alt="Linux Kernel Icon">
                    <h2><a href="#" onclick="openMainPopup(event)">Linux kernel driver development</a></h2>
                </div>
                <div class="course-item">
                    <img src="./img/product3.png" alt="Yocto Icon">
                    <h2><a href="#" onclick="openMainPopup(event)">Yocto Project and OpenEmbedded system development</a></h2>
                </div>
                <div class="course-item">
                    <img src="./img/product4.png" alt="Buildroot Icon">
                    <h2><a href="#" onclick="openMainPopup(event)">Buildroot system development</a></h2>
                </div>
                <div class="course-item">
                    <img src="./img/product5.png" alt="Graphics Stack Icon">
                    <h2><a href="#" onclick="openMainPopup(event)">Understanding the Linux graphics stack</a></h2>
                </div>
                <div class="course-item">
                    <img src="./img/product6.png" alt="Real-time Linux Icon">
                    <h2><a href="#" onclick="openMainPopup(event)">Real-time Linux with PREEMPT_RT</a></h2>
                </div>
                <div class="course-item">
                    <img src="./img/product7.png" alt="Linux Debugging Icon">
                    <h2><a href="#" onclick="openMainPopup(event)">Linux debugging, tracing, profiling and performance analysis</a></h2>
                </div>
                <div class="course-item">
                    <img src="./img/product8.png" alt="Embedded Linux Audio Icon">
                    <h2><a href="#" onclick="openMainPopup(event)">Embedded Linux audio</a></h2>
                </div>
            </div>
        </div>

        <!-- courses ends -->

{% endblock body %}
